extends ../layout

block content
  h1 Books

  form(action='/books/search', method='GET')
    input(type='text', name='query', placeholder='Search...')
    button(type='submit', class='button') Search 

  p 
    a(href='/books/new', class="button") Create New Book

  if books.length
    table 
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        each book in books
          tr
            td
              a(href='/books/' + book.id + '/update' )= book.title
            td= book.author
            td= book.genre
            td= book.year
  
  .pagination
    - for (var i = 1; i <= totalPages; i++)
      a(href=`/books?page=${i}`, class=(i === currentPage ? 'active button' : 'button'))= i